 <%= form_with url: movies_path, method: :get, local: true do |form| %>
    <div class="filter-content">
        <div>
          <%= form.label :category, "Category:", class: "category-text" %>
          <%= form.select :category_id,  
            @movie_genres.map { |genre| [genre.name, genre.id] },
            prompt:  "All"
            %>
        </div>
        <div>
          <%= form.select :release_status, 
              [['Released', 'released'], ['Upcoming', 'upcoming']], 
              prompt: 'Select Release Status' %>
        </div>
        <div class="search-name">
         <%= form.text_field :movie_name, class: "filter-movie", 
             placeholder: "Enter the name of the movie" 
             %>
         <%= form.submit "Search", class: "search-btn" %>
        </div>
    </div>
<% end %>
<div class="paginate-btns">
  <div class="flash-data">
    <% if flash[:notice] %>
        <div class="notice-flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
  </div>

  <div class="link-create-container">
    <%= link_to "Create new movie", new_movie_path,  class: "create-movie" %>
 </div>
  <div class="paginate">
    <%= paginate @movies %>
  </div>
</div>
<div class="cards-movies">

   <% @movies.each do |movie| %>
     <%= render partial: 'shared/movie_summary_card', locals: { item: movie } %>
    <% end %>
</div>
