 <%= form_with url: movies_path, method: :get, local: true do |form| %>
    <div class="filter-content">
        <div>
          <%= form.label :name, "Category:", class: "category-text" %>
          <%= form.select :name,  @movie_genres.map { |genre| genre.name }, prompt: "All" %>
          <%= form.submit "Filtrar", class: 'search-btn' %>
        </div>
        <div class="search-name">
            <input class="filter-movie" type="text" placeholder="Enter the name of the movie"/>
            <button class="search-btn">Search</button>
        </div>
    </div>
<% end %>
<div class="cards-movies">
    <% @movies.each do |movie| %>
        <div class="card-movie">
            <% if movie.banner.attached? %>
              <%= image_tag movie.image.variant(resize_to_limit: [100, 100]), alt: movie.name, class: "movie-banner" %>
            <% end %>
            <div class="card-body">
                <h2><%= movie.title %></h2>
                <p>Release year: <%= movie.year_of_release %></p>
                <%= link_to "Ver detalhes", movie_path(movie.id)%>
            </div>
        </div>
    <% end %>
    <%= paginate @movies %>
</div>