<div class="main-genre">
    <div class="link-create-genre">
            <%= link_to "Register a new director", new_director_path, class:"create-movie" %>
            <% if flash[:notice] %>
            <div class="notice-flash">
                <%= flash[:notice] %>
            </div>
            <% end %>
    </div>

    <div class="container-directors">
      <% @directors.each do |director| %>

        <div class="cta">
                <div class="cta__text-column" >
                    <h2><%= director.name %></h2>
                    <p>Nationality: <%= director.nationality %></p>
                    <%= link_to "See Details", director_path(director.id)%>
                </div>
        </div>
     <% end %>
    </div>
</div>
