<div class="card-movie-detail-director">
        <div>
            <% if flash[:notice] %>
              <div class="notice-flash">
                <%= flash[:notice] %>
              </div>
            <% end %>
        </div>
    <div class="card-movie-single-director">
            <div class="card-body-details-director">
                <h2><%= @director.name %></h2>
                <div class="director-content">
                    <p>
                        <strong>
                            Nationality:
                        </strong><%= @director.nationality %></p>
                    <p>
                        <strong>
                            Bith_date:
                        </strong> <%= @director.birth_date %></p>
                    <p>
                        <strong>
                            Favorite category:
                         </strong> <%= @director.favorite_genre.name %></p>
                </div>
                <div class="link-detail-edit-director">
                    <%= link_to "Edit Director", edit_director_path(@director.id) %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cards-movies">
    <% @director.movies.each do |movie| %>
         <%= render partial: 'shared/movie_summary_card', locals: { item: movie } %>
    <% end %>
   </div>

 
