<div>
    <div class="head-genre">
        <% if flash[:notice] %>
          <div class="notice-flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert-flash">
            <%= flash[:alert] %>
        <% end %>
        <h2><%= @movie_genre.name %></h2>
        <div>
            <%= link_to "Edit this genre name", edit_movie_genre_path(@movie_genre.id)%>
        </div>
    </div>

    <div class="cards-movies">
    <% @movie_genre.movies.each do |movie| %>
        <%= render partial: 'shared/movie_summary_card', locals: { item: movie } %>
    <% end %>
    </div>
</div>